
<div class="text-field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, type: 'title', class: "form-control" %>
</div>

<div class="text-field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, type: 'description', class: "form-control" %>
</div>
