<p>hello pin show</p>

	<% @pins.each do |pin| %>
		<h4>title: <%= pin.title %></h4>
		<h4>description: <%= pin.description %></h4>
		<%= link_to 'delete', pin_path, method: :delete, data: {confirm: "are you sure ??"} %>
		<!-- /pins/7 -->
	<% end %>

	




